<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% block style %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    <a class="nav-item nav-link" id="univ" href="/universities">Universities</a>
                    <a class="nav-item nav-link" id="guide" href="/guidance">Career Guidance</a>
                    <a class="nav-item nav-link" id="contact" href="#" data-target="#myModal" data-toggle="modal">Contact Us</a>
                </div>
            </div>
	    </nav>
    {% endblock %}

    {% block content %}{% endblock %}
    <div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">CONTACT DETAILS</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead></thead>
						<tbody>
							<tr>
								<td><img src="{{ url_for('static', filename='media/email.png') }}" alt="mail logo"></td>
								<td><p class="lead">zvc@gmail.com</p></td>
							</tr>
							<tr>
								<td>
									<img src="{{ url_for('static', filename='media/phone.png') }}" alt="phone logo">
								</td>
								<td><p class="lead">+263 77 371 6411<br>+263 787 814 090</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>