{% extends "base.html" %}

{% block title %} ZVC Career Guidance {% endblock %}

{% block style %}
    <style>
        h4{
            text-align: center;
        }
        h4{
            text-align: center;
            font-style: oblique;
            font-weight: bold;
        }
        h3 {
            text-decoration: underline;
            font-family: Algerian, serif;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
		<h1>CAREER GUIDANCE</h1>
		<hr>
        <h5>Listed below are the possible jobs which a graduate can pursue given the degree which they have decided to obtain. Names of degrees have been standardised for consistency across all possible names.</h5>

        <br>
        <h4>Faculty of Business Sciences</h4>
        <br>
        <h3>Finance and Banking</h3>
        <ul>
            <li>Management Consultant</li>
            <li>Accountant</li>
            <li>Financial Manager</li>
            <li>Financial Analyst</li>
        </ul>
        <h3>Business Management</h3>
        <ul>
            <li>Business adviser</li>
            <li>Business development manager</li>
            <li>Corporate investment banker</li>
            <li>Actuarial analyst</li>
        </ul>
        <h3>Accounting</h3>
        <ul>
            <li>Forensic Accountant</li>
            <li>Financial Analyst</li>
            <li>Personal Financial Advisor</li>
            <li>Cost Estimator</li>
        </ul>

        <br>
        <h4>Faculty of Engineering</h4>
        <br>
        <h3>Electrical engineering</h3>
        <ul>
            <li>Broadcast engineer</li>
            <li>Controls engineer</li>
            <li>Electrical project manager</li>
            <li>Electronic communications engineer</li>
        </ul>
        <h3>Civil Engineering</h3>
        <ul>
            <li>Construction manager</li>
            <li>Building services engineer</li>
            <li>Geotechnical engineer</li>
            <li>Fire risk assessor</li>
        </ul>
        <h3>Mechanical Engineering</h3>
        <ul>
            <li>Aerospace engineer</li>
            <li>Automotive engineer</li>
            <li>CAD technician</li>
            <li>Control and instrumentation engineer</li>
        </ul>

        <br>
        <h4>Faculty of Science</h4>
        <br>
        <h3>Computer Science</h3>
        <ul>
            <li>Data scientist</li>
            <li>Software tester</li>
            <li>Web developer</li>
            <li>Systems analyst</li>
        </ul>
        <h3>Acturial Science</h3>
        <ul>
            <li>Actuary</li>
            <li>Consultant</li>
            <li>Product Manager</li>
            <li>Financial Adviser</li>
        </ul>
        <h3>Geology</h3>
        <ul>
            <li>Engineering geologist</li>
            <li>Geochemist</li>
            <li>Environmental consultant</li>
            <li>Hydrographic surveyor</li>
        </ul>

        <br>
        <h4>Faculty of Social Sciences</h4>
        <br>
        <h3>Sociology</h3>
        <ul>
            <li>Social Worker</li>
            <li>Paralegal</li>
            <li>Community Health Worker</li>
            <li>Market Research Analyst</li>
        </ul>
        <h3>Psychology</h3>
        <ul>
            <li>Psychologist</li>
            <li>Psychotherapist</li>
            <li>Social worker</li>
            <li>Educational psychologist</li>
        </ul>
        <h3>Philosophy</h3>
        <ul>
            <li>Chaplain</li>
            <li>Health service manager</li>
            <li>Local government officer</li>
            <li>Newspaper journalist</li>
        </ul>

        <br>
        <h4>Faculty of Arts</h4>
        <br>
        <h3>Linguistics</h3>
        <ul>
            <li>Copy editor</li>
            <li>Translator</li>
            <li>Foreign language teacher</li>
            <li>Language specialist</li>
        </ul>
        <h3>Theatre Arts</h3>
        <ul>
            <li>Drama therapist</li>
            <li>Music therapist</li>
            <li>Choreographer</li>
            <li>Community arts worker</li>
        </ul>
        <h3>Religious Studies</h3>
        <ul>
            <li>Charity officer for a religious non-profit</li>
            <li>Missionary</li>
            <li>Youth Director</li>
            <li>Technical writer</li>
        </ul>

        <br>
        <h4>Faculty of Medical Sciences</h4>
        <br>
        <h3>Medicine</h3>
        <ul>
            <li>Anaesthetist</li>
            <li>Cardiologist</li>
            <li>General practice doctor</li>
            <li>Neurologist</li>
        </ul>
        <h3>Pharmacy</h3>
        <ul>
            <li>Ambulatory care pharmacist</li>
            <li>Compounding pharmacists</li>
            <li>Medical sales representative</li>
            <li>Regulatory Affairs Officer</li>
        </ul>
        <h3>Radiology</h3>
        <ul>
            <li>Radiology Technologist</li>
            <li>Radiology Technician</li>
            <li>Radiology Nurse</li>
            <li>Radiology Assistant</li>
        </ul>

	</div>
{% endblock %}
