{% extends "base.html" %}

{% block style %}
    <style>
        .container{
            width: 90%;
        }
        table, h1, .col{
            text-align: center;
        }
        tr th:first-child {
            width: 45%;
        }
        tr th:nth-child(2) {
            width: 5%;
        }
        tr th:nth-child(3) {
            width: 45%;
        }
        tr th:last-child {
            width: 5%;
        }
        @media (min-width: 800px) {
            .table-responsive {
                display: table;
            }
        }
        @media (max-width: 799px) {
            .table-responsive {
                display: block;
            }
        }
    </style>
{% endblock %}

{% block title %} ZVC {{ var.name }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../static/media/{{ image }}.png" alt="{{ var.name }}">
            </div>
            <div class="col">
                {% for detail in addr %}
                    <p>{{ detail }}</p>
                {% endfor %}
                <p>{{ var.telephone }}</p>
                <p><a href="{{ var.website }}">{{ var.website }}</a></p>
            </div>
        </div>
		<h1>{{ var.name }}</h1>
		<br>
        <table class="table table-responsive">
			<thead>
			  <tr>
				 <th scope="col">Name</th>
				 <th scope="col">Duration</th>
				 <th scope="col">Entry Reqs</th>
				 <th scope="col">Minimum points</th>
			  </tr>
			</thead>
			<tbody>
                {% for faculty in faculties %}
                    <tr>
                        <th scope="row" colspan="4">{{ faculty.name }}</th>
                    </tr>
                    {% for degree in faculty.degrees %}
                        <tr>
                            <td>{{ degree.name }}</td>
                            <td>{{ degree.duration }}</td>
                            <td>{{ degree.entry }}</td>
                            <td>{{ degree.minimum }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
